@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  background: $gray-100;
  border-bottom: 1px solid $gray-90;
  padding: 0.5rem 1rem;
  font-family: $font-family-sans-serif;
  font-size: 1rem;

  .navbar-brand {
    padding-right: 1.5rem;
    position: relative;
    border-right: 1px solid $gray-90;
    font-size: 1rem;
    .navbar-title {
      font-weight: 600;
      display: inline-block;
      padding-inline: $spacing-02;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
  .nav-utils {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
