/* ==========================================================================
Main page styles
========================================================================== */
@use '@carbon/styles/scss/type';

.home {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

  .welcome {
    @include type.type-style('productive-heading-04');
  }

  .lead {
    @include type.type-style('body-short-02');
  }

  h3 {
    @include type.type-style('productive-heading-03');
  }

  .weeks-heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 0.25rem;

    a.btn {
      font-size: 0.85rem;
    }
  }
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
